
     <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <a class="btn btn-primary mb-3" href="/student">Back</a>
                <div class="card shadow">
                    <div class="card-body">
                        <h3>Student show</h3>
                        <h4><%= singleData.name %> </h4>
                        <img style="max-width:100% ;" src="/assets/uploads/<%= singleData.photo %> " alt="">
                    </div>
                </div>
            </div>
        </div>
     </div>
    